@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gift Shop</h1>
    <img src="~/images/Home Page Image.jpg" alt="Sample Image" class="img-fluid" style="height: 350px;" />
    <img src="~/images/Home Page 2.jpg" alt="Sample Image" class="img-fluid" style="height: 350px;" />


</div>
